# Build/out directories
# - Build/out directories must match Makefile variables. default is `build/`, `output/`
.build/
.output/

# Resource directories
graphics/

# # PDFs such as output files are kept by default for archiving, you may uncomment the line below to exclude them from commits
# *.pdf
